:root {
    --write: #fbb034;
}

* {
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'montserrat', sans-serif;
    background: url(./img/weather.jpg) no-repeat fixed center;
    background-size: cover;
    height: 100vh;
}

.app {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
}

.header {
    padding: 3.2rem 1.5rem 2rem 1.5rem;
}

.date {
    position: absolute;
    top: 2rem;
    right: 4rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 500px) {
    .date {
        position: absolute;
        top: 2rem;
        right: 1rem;
        font-size: 1rem;
    }
}

.time {
    position: absolute;
    top: 2rem;
    left: 4rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 500px) {
    .date {
        position: absolute;
        top: 2rem;
        right: 1rem;
        font-size: 1rem;
    }
    .time {
        position: absolute;
        top: 2rem;
        left: 2rem;
        font-size: 1rem;
    }
}

.header h1 {
    margin-top: 1rem;
    font-size: 3rem;
    color: var(--write);
    text-shadow: 1px 3px rgba(0, 0, 0, .8);
}

.header input {
    width: 100%;
    padding: 0.8rem;
    background: transparent;
    border-bottom: 2px solid var(--write);
    text-align: center;
    font-size: 1.3rem;
    color: #f2f2f2;
}

.header .check {
    margin-top: 1rem;
    padding: 0.6rem 2rem;
    cursor: pointer;
    background-color: var(--write);
    color: #f2f2f2;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    display: none;
}

@media screen and (max-width: 700px) {
    .header .check {
        margin-top: 1rem;
        padding: 0.6rem 2rem;
        cursor: pointer;
        background-color: var(--write);
        color: #f2f2f2;
        font-size: 1.5rem;
        border-radius: 0.5rem;
        display: inline-block;
        background: transparent;
        box-shadow: 5px 8px 5px rgba(0, 0, 0, .8);
    }
    .header .check:hover {
        background-color: var(--write);
        transform: scale(1.08);
    }
}

.city {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
    text-shadow: 1px 3px rgba(0, 0, 0, .8);
}

.temp {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-shadow: 1px 5px rgba(0, 0, 0, .8);
}

.desc {
    text-shadow: 1px 4px rgba(0, 0, 0, .8);
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 0.6rem;
    letter-spacing: 0.3rem;
}

.minmax {
    font-size: 2.2rem;
    text-shadow: 1px 5px rgba(0, 0, 0, .9);
}